<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (review) {
      <div>
        <h2 data-cy="reviewDetailsHeading"><span jhiTranslate="govGuardianApp.review.detail.title">Review</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ review.id }}</span>
          </dd>
          <dt><span jhiTranslate="govGuardianApp.review.content">Content</span></dt>
          <dd>
            <span>{{ review.content }}</span>
          </dd>
          <dt><span jhiTranslate="govGuardianApp.review.rating">Rating</span></dt>
          <dd>
            <span>{{ review.rating }}</span>
          </dd>
          <dt><span jhiTranslate="govGuardianApp.review.feedback">Feedback</span></dt>
          <dd>
            <span>{{ review.feedback }}</span>
          </dd>
          <dt><span jhiTranslate="govGuardianApp.review.timestamp">Timestamp</span></dt>
          <dd>
            <span>{{ review.timestamp | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/review', review.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
