<div>
  <h2 id="page-heading" data-cy="AppUserHeading">
    <span jhiTranslate="govGuardianApp.appUser.home.title">App Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="govGuardianApp.appUser.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-app-user"
        [routerLink]="['/app-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="govGuardianApp.appUser.home.createLabel">Create a new App User</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (appUsers?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="govGuardianApp.appUser.home.notFound">No App Users found</span>
    </div>
  }

  @if (appUsers && appUsers.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="govGuardianApp.appUser.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="address">
              <div class="d-flex">
                <span jhiTranslate="govGuardianApp.appUser.address">Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phone">
              <div class="d-flex">
                <span jhiTranslate="govGuardianApp.appUser.phone">Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="gender">
              <div class="d-flex">
                <span jhiTranslate="govGuardianApp.appUser.gender">Gender</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="department">
              <div class="d-flex">
                <span jhiTranslate="govGuardianApp.appUser.department">Department</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="govGuardianApp.appUser.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="latitude">
              <div class="d-flex">
                <span jhiTranslate="govGuardianApp.appUser.latitude">Latitude</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="longitude">
              <div class="d-flex">
                <span jhiTranslate="govGuardianApp.appUser.longitude">Longitude</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="userType">
              <div class="d-flex">
                <span jhiTranslate="govGuardianApp.appUser.userType">User Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.id">
              <div class="d-flex">
                <span jhiTranslate="govGuardianApp.appUser.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reviews.id">
              <div class="d-flex">
                <span jhiTranslate="govGuardianApp.appUser.reviews">Reviews</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rewards.id">
              <div class="d-flex">
                <span jhiTranslate="govGuardianApp.appUser.rewards">Rewards</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="govOfficialContent.id">
              <div class="d-flex">
                <span jhiTranslate="govGuardianApp.appUser.govOfficialContent">Gov Official Content</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (appUser of appUsers; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/app-user', appUser.id, 'view']">{{ appUser.id }}</a>
              </td>
              <td>{{ appUser.email }}</td>
              <td>{{ appUser.address }}</td>
              <td>{{ appUser.phone }}</td>
              <td>{{ appUser.gender }}</td>
              <td>{{ appUser.department }}</td>
              <td>{{ appUser.description }}</td>
              <td>{{ appUser.latitude }}</td>
              <td>{{ appUser.longitude }}</td>
              <td jhiTranslate="{{ 'govGuardianApp.UserType.' + appUser.userType }}">{{ appUser.userType }}</td>
              <td>
                {{ appUser.user?.id }}
              </td>
              <td>
                @if (appUser.reviews) {
                  <div>
                    <a [routerLink]="['/review', appUser.reviews.id, 'view']">{{ appUser.reviews.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (appUser.rewards) {
                  <div>
                    <a [routerLink]="['/reward', appUser.rewards.id, 'view']">{{ appUser.rewards.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (appUser.govOfficialContent) {
                  <div>
                    <a [routerLink]="['/gov-official-content', appUser.govOfficialContent.id, 'view']">{{
                      appUser.govOfficialContent.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/report-header']"
                    [queryParams]="{ 'filter[appUserId.in]': appUser.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('govGuardianApp.appUser.reportHeader' | translate) }"
                      >Show Report Header</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/report-details']"
                    [queryParams]="{ 'filter[appUserId.in]': appUser.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('govGuardianApp.appUser.reportDetails' | translate) }"
                      >Show Report Details</span
                    >
                  </button>
                  <a [routerLink]="['/app-user', appUser.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/app-user', appUser.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(appUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (appUsers && appUsers.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
