<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (govOfficialContent) {
      <div>
        <h2 data-cy="govOfficialContentDetailsHeading">
          <span jhiTranslate="govGuardianApp.govOfficialContent.detail.title">Gov Official Content</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ govOfficialContent.id }}</span>
          </dd>
          <dt><span jhiTranslate="govGuardianApp.govOfficialContent.law">Law</span></dt>
          <dd>
            <span>{{ govOfficialContent.law }}</span>
          </dd>
          <dt><span jhiTranslate="govGuardianApp.govOfficialContent.description">Description</span></dt>
          <dd>
            <span>{{ govOfficialContent.description }}</span>
          </dd>
          <dt><span jhiTranslate="govGuardianApp.govOfficialContent.action">Action</span></dt>
          <dd>
            <span>{{ govOfficialContent.action }}</span>
          </dd>
          <dt><span jhiTranslate="govGuardianApp.govOfficialContent.date">Date</span></dt>
          <dd>
            <span>{{ govOfficialContent.date | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/gov-official-content', govOfficialContent.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
